{% extends 'base.html.twig' %}

{% block title %}API Fútbol | Administración{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ui') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ui') }}
{% endblock %}

{% block body %}
    <div id="menu">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin_usuarios') }}" class="opcion-menu">
                <span class="icono-menu"><i class="fa-solid fa-users"></i></span>
                <span class="desktop">Usuarios</span>
            </a>
            <a href="{{ path('competiciones') }}" class="opcion-menu">
                <span class="icono-menu"><i class="fa-solid fa-futbol"></i></span>
                <span class="desktop">Competiciones</span>
            </a>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="opcion-menu">
            <span class="icono-menu"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
            <span class="desktop">Salir</span>
        </a>
    </div>
    <div class="contenido">
        {% block contenido %}
        {% endblock %}
    </div>
{% endblock %}
