{% extends 'base.html.twig' %}

{% block title %}Inicio de sesión{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    <div class="contenido">
        <div class="login-form">
            <form action="{{ path('app_login') }}" method="post">
                <input type="text" id="usuario" name="_username" placeholder="Usuario" />
                <input type="password" id="password" name="_password" placeholder="Contraseña">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="boton boton-primary w-100" type="submit">Iniciar sesión</button>
                {% if error %}
                    <div class="error">
                        {{ error.messageKey }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
