{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('usuarios') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('usuarios') }}
{% endblock %}

{% block contenido %}
    <h2>Aplicaciones</h2>

    <div class="mt-2">
        <span class="boton boton-primary" data-toggle="div__nueva-aplicacion">Nueva aplicación</span>
    </div>

    <div id="div__nueva-aplicacion" class="div__nueva-aplicacion oculto">
        <div class="form-nueva-aplicacion">
            <div>Nombre:</div>
            <div class="div__nombre-aplicacion">
                <input type="text" id="input__nombre-aplicacion" name="nombre-aplicacion">
            </div>
            <div><span id="btn__guardar-aplicacion" class="boton boton-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</span>
            </div>
        </div>
        <div class="error oculto"></div>
    </div>

    <div class="aplicaciones mt-3">
        {% for aplicacion in aplicaciones %}
            <div class="aplicacion sombra">
                <div class="aplicacion-nombre">{{ aplicacion.nombre }}</div>
                <div>
                    <span class="boton boton-primary btn__aplicacion-token" data-aplicacion="{{ aplicacion.id }}">Generar token</span>
                </div>
                <div class="aplicacion-token oculto">
                    <div class="aplicacion-token-cabecera">
                        <div>token</div>
                        <div class="aplicacion-copiar-token"><i class="fa-regular fa-copy"></i><span class="texto">copiar</span>
                        </div>
                    </div>
                    <div class="aplicacion-token-contenido">
                        <div class="div__token"></div>
                    </div>
                    <div class="error oculto"></div>
                </div>
            </div>
        {% else %}
            <h3>No hay ninguna aplicación configurada</h3>
        {% endfor %}
    </div>
{% endblock %}
